@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rwth-red: #d22027;
  --rwth-orange: #f89c0e;
  --rwth-maygreen: #a6d71c;
  --rwth-green: #4dbd38;
  --rwth-turquoise: #00aaaf;
  --rwth-teal: #0a6167;
  --rwth-violet: #5b215f;
  --rwth-purple: #7264b8;
  --rwth-bordeaux: #9e1639;
  --rwth-blue: #176fc1;
  --rwth-lightblue: #8ebfe9;
  --rwth-magenta: #ec0772;
  --rwth-yellow: #fff200;

  --ocean-green: var(--rwth-green);
}

.text-ocean-green {
  color: var(--ocean-green);
}
